[project]
name = 'pyapp'
channels = ['conda-forge']
platforms = [
    'linux-64',
    'linux-aarch64',
    'linux-ppc64le',
    'osx-64',
    'osx-arm64',
    'win-64',
]

[dependencies]
rust = '>=1.75.0'

[target.win-64.dependencies]
rust = '1.75.0'

[target.win-64.activation.env]
PYAPP_PROJECT_NAME = 'test'
PYAPP_PROJECT_VERSION = '0.0.2'
PYAPP_PROJECT_DEPENDENCY_FILE = '%PIXI_PROJECT_ROOT%\test_data\requirements.txt'
PYAPP_EXEC_CODE = "import sys;print('Python',sys.version,'on',sys.platform)"

[tasks.test]
depends-on = [
    'test_common',
    'test_windows_10_11',
]

[target.win-64.tasks.test_common]
cmd = 'cargo run --locked --release'

[target.win-64.tasks.test_windows_10_11]
cmd = 'cargo run --locked --release'

[target.win-64.tasks.test_common.env]
PYAPP_DISTRIBUTION_SOURCE = 'https://mirrors.cernet.edu.cn/anaconda/cloud/conda-forge/win-64/micromamba-1.5.8-0.tar.bz2'
PYAPP_FULL_ISOLATION = '1'
PYAPP_MAMBA_DEPENDENCY_FILE = '$PIXI_PROJECT_ROOT\test_data\explicit_win-64.txt'

[target.win-64.tasks.test_windows_10_11.env]
PYAPP_DISTRIBUTION_SOURCE = 'https://api.github.com/repos/adang1345/PythonWindows/contents/3.9.19/python-3.9.19-embed-amd64.zip'
PYAPP_UV_ENABLED = '1'
PYAPP_UV_SOURCE = 'https://mirrors.huaweicloud.com/repository/pypi/packages/d6/c2/7219ee34993c50b3fedd81a7d77f27232df0bcf5451920dd16717fcc9b1f/uv-0.4.0-py3-none-win_amd64.whl'
