[project]
name = 'pyapp'
channels = ['conda-forge']
platforms = [
    'linux-64',
    'linux-aarch64',
    'linux-ppc64le',
    'osx-64',
    'osx-arm64',
    'win-64',
]

[environments.build]
features = ['build']

[feature.build.dependencies]
rust = '>=1.77.2'

[feature.build.target.win-64.tasks.test]
cmd = 'cargo run --locked --release'

[feature.build.target.win-64.tasks.test.env]
PYAPP_DISTRIBUTION_SOURCE = 'https://mirrors.cernet.edu.cn/anaconda/cloud/conda-forge/win-64/micromamba-2.0.5-0.tar.bz2'
PYAPP_EXEC_CODE = "import runpy,sys;sys.argv[:]='streamlit','hello';runpy.run_module('streamlit',run_name='__main__')"
PYAPP_FULL_ISOLATION = '1'
PYAPP_MAMBA_DEPENDENCY_FILE = '$PIXI_PROJECT_ROOT\test_data\test_win-64_conda_spec.txt'
PYAPP_PROJECT_DEPENDENCY_FILE = '$PIXI_PROJECT_ROOT\test_data\requirements.txt'
PYAPP_PROJECT_NAME = 'test'
PYAPP_PROJECT_VERSION = '0.1.0'

[environments.test]
features = ['test']

[feature.test.dependencies]
python = '>=3.8.20'
streamlit = '>=1.40.1'
